#main {
    margin-top: 96px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding-top: 64px;
    width: 60%;
}

dt {
    float: left;
    margin-right: 32px;
}

dd {
    margin-left: 96px;
}

.font-giant {
    font-size: 32px;
}

.font-small {
    font-size: 16px;
}

.cube {
    text-align: left;
    width: 80%;
    line-height: 200%;
}

@media screen and (max-width: 800px) {
    .font-giant {
        font-size: 24px;
    }

    #main {
        margin-top: 64px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}